@font-face {
  font-family: kimberley;
  src: url('../../fonts/kimberley bl.ttf');
}
@font-face {
  font-family: EurostileStandard;
  src: url('../../fonts/EurostileLTStd.otf');
}
@font-face {
  font-family: EurostileStandardBold;
  src: url('../../fonts/EurostileLTStd-Bold.otf');
}
@font-face {
  font-family: EurostileStandardOblique;
  src: url('../../fonts/EurostileLTStd-Oblique.otf');
}
@font-face {
  font-family: EurostileStandardBoldOblique;
  src: url('../../fonts/EurostileLTStd-BoldOblique.otf');
}
@font-face{
  font-family: BankGothicMediumBT;
  src: url('../../fonts/Bank Gothic Medium BT.ttf');
}
@font-face {
  font-family: BankGothicHD;
  src: url('../../fonts/bankgthd.ttf');
}

body {
    font-family: EurostileStandard;
}

div.ai {
    font-family: BankGothicHD;
    float: left;
    margin: 5px;
    line-height: normal;

    span.speed {
        font-size: 1.5em;
    }

    table {
        border-collapse: collapse;
        border: none;

        tr.middle {
            border-top: solid white 2px;
            border-bottom: solid white 2px;
        }
        td.middle {
            border-left: solid white 2px;
            border-right: solid white 2px;
        }

        td {
            width: 40px;
            height: 40px;
            vertical-align: middle;
            text-align: center;
        }
        td.far {
            background-color: rgb(200, 250, 200);
        }
        td.near {
            background-color: rgb(250, 230, 150);
        }
        td.displayship i {
            font-size: 2.5em;
        }
        td.display {
            text-shadow: 1px 1px black,
                    1px 0px black,
                    1px -1px black,

                    -1px 1px black,
                    -1px 0px black,
                    -1px -1px black,

                    0px 1px black,
                    0px -1px black;
        }
        td.display .white {
            color: white;
        }
        td.display .red {
            color: red;
        }

    }
}

/*.table-bordered {*/
/*    border: 1px solid #aaa;*/
/*}*/
