
div.ai table {
    td {
        width: 2em;
        height: 2em;
        vertical-align: middle;
        text-align: center;
    }
    td.far {
        background-color: lightgreen;
    }
    td.near {
        background-color: indianred;
    }

}

/*.table-bordered {*/
/*    border: 1px solid #aaa;*/
/*}*/
