@font-face {
  font-family: kimberley;
  src: url('../../fonts/kimberley bl.ttf');
}
@font-face {
  font-family: EurostileStandard;
  src: url('../../fonts/EurostileLTStd.otf');
}
@font-face {
  font-family: EurostileStandardBold;
  src: url('../../fonts/EurostileLTStd-Bold.otf');
}
@font-face {
  font-family: EurostileStandardOblique;
  src: url('../../fonts/EurostileLTStd-Oblique.otf');
}
@font-face {
  font-family: EurostileStandardBoldOblique;
  src: url('../../fonts/EurostileLTStd-BoldOblique.otf');
}
@font-face{
  font-family: BankGothicMediumBT;
  src: url('../../fonts/Bank Gothic Medium BT.ttf');
}
@font-face {
  font-family: BankGothicHD;
  src: url('../../fonts/bankgthd.ttf');
}
