doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="bower_components/xwing-miniatures-font/dist/xwing-miniatures.css")
        link(rel="stylesheet", href="build/css/fonts.css")
        link(rel="stylesheet", href="build/css/ai.css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="build/js/hotac_data.js")
    body
        include ai
